<div class="articles-view">
    <script type="text/ng-template" id="feedDetail.html">
        <div style="font-size: 1em; font-weight: normal">
        <h4>
            <a target="_blank" href="{{selectedFeed | feedUrl}}">
                {{selectedFeed.name}}
            </a>
        </h4>
        <img ng-src="{{ selectedFeed | imageLink }}" height="16" />
        <p>
            {{selectedFeed.description}}
        </p>
        <p>
            Type: <em>{{selectedFeed.type}}</em>  <img ng-src="{{ selectedFeed | iconLink }}" height="16" class="icon"/>

            <br/>
            Last poll: <em>{{selectedFeed.last_poll | date:'medium' }} </em> (frequency: <em>{{selectedFeed.poll_frequency}}</em> minutes)
        </p>
        </div>
    </script>

    <div class="feed-toolbar"  ng-show="currentFeedId != null">
        <a class="btn btn-small" href="" ng-click="markAllAsSeen()" ng-show="currentFeedId != 'starred'">
            <i class="icon icon-resize-horizontal"></i>
            Mark all as read
        </a>
        <a class="btn btn-small" href="" ng-click="toggleUnseen(true)" ng-show="unseenOnly == false && currentFeedId != 'starred'">
            <i class="icon icon-filter"></i>
            Show only unread
        </a>
        <a class="btn btn-small" href="" ng-click="toggleUnseen(false)" ng-show="unseenOnly == true && currentFeedId != 'starred'">
            <i class="icon icon-ok"></i>
            Show all
        </a>
        <a class="btn btn-small btn-danger" href="" ng-click="deleteFeed()" ng-show="selectedFeed != null">
            <i class="icon icon-trash"></i>
            Delete feed
        </a>

        <span class="sep" ng-show="currentFeedId != 'starred'">
        &nbsp; | &nbsp;

        </span>

        <a class="btn btn-small" href="#/">
            <i class="icon icon-home"></i>
            Home
        </a>
        <a class="btn btn-small btn-primary" href="#/{{ nextUnseenFeed.id }}" ng-show="nextUnseenFeed != null">
            <i class="icon icon-fast-forward"></i>
            Next : {{ nextUnseenFeed.name | ellipsis:40 }}

        </a>

    </div>

    <header ng-show="currentFeedId != null">
        <span ng-show="selectedFeed != null">
            <span class="feed-title">
               {{selectedFeed.name}}
            </span>
            &nbsp; - &nbsp;
            <span class="description">
                <a title="Informations"
                   data-placement="bottom"
                   bs-popover="'feedDetail.html'">
                    {{selectedFeed.description | ellipsis:80}}
                    <i class="icon icon-h-sign"></i>
                </a>
            </span>
        </span>
        <span ng-show="currentFeedId == 'all'" class="feed-title">
            All articles
        </span>
        <span ng-show="currentFeedId == 'starred'" class="feed-title">
            Starred articles
        </span>
    </header>

    <div class="no-articles" ng-show="articles.length == 0">
        No articles found
    </div>

    <div class="articles-list" infinite-scroll-distance="3"
         infinite-scroll-immediate-check="false"
         infinite-scroll="getNextPage()">
        <div ng-repeat="article in articles" class="article" autoscroll="article.id">
            <div class="article-header row-fluid" ng-class="getClassForArticleHeader(article)">
                <div class="span2" ng-click="selectArticle(article)">
                    {{article.feed.name}}
                </div>
                <div class="span8" ng-click="selectArticle(article)">
                    {{article.title | titleFilter}}
                    <span class="star" ng-class="isArticledStarred(article)" ng-click="toggleStar(article)"></span>
                </div>
                <div class="span2">
                    {{article | ago:'article_date' }}
                    <span class="pull-right">
                        <a href="#/"><i class="icon icon-home"></i> </a>
                        <a href="" ng-click="scrollToTop($event)">
                            <i class="icon icon-chevron-up"></i>
                        </a>
                        &nbsp;&nbsp;

                    </span>
                </div>
            </div>
            <detailbox detailbox-show="currentArticle == article"
                       detailbox-content="detail-box"
                        class="content">
            </detailbox>

        </div>

        <div id="detail-box">
            <h3>
                <a target="_blank" href="{{currentArticle.url}}">{{currentArticle.title}}</a>
                <span class="star-big" ng-class="isArticledStarred(currentArticle)" ng-click="toggleStar(currentArticle)"></span>
            </h3>
            <p>
                {{currentArticle.article_date | date:'EEEE d MMM yyyy - H:mm:ss' }}
            </p>

            <p ng-bind-html="currentArticle.content | fixLinks"></p>
        </div>
    </div>
</div>