<div class="feed-view" ng-swipe-left="$emit('navigateNextArticle')" ng-swipe-right="$emit('navigatePrevArticle')">

    <div ng-show="requestInflight" class="loading-banner">
        Loading articles ...
    </div>
    <div class="no-articles" ng-show="articles.length == 0 && !requestInflight">
        No articles found ...
    </div>

    <div class="article" ng-show="currentArticle != null">
        <h4>
            <a target="_blank" href="{{currentArticle.url}}">{{currentArticle.title}}</a>
        </h4>
        <p class="feed-title">
            from {{ currentArticle.feed.name }} -
            {{currentArticle | ago:'article_date' }}
        </p>
        <p>
            <span ng-bind-html="currentArticle.content | fixLinks"></span>
        </p>
    </div>

    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <ul class="nav">
                <li class="divider-vertical">
                    <a href="#/">
                        <i class="icon icon-home"></i>
                    </a>
                </li>
                <li class="divider-vertical">
                    <a href="">
                        <span ng-show="currentArticle != null"
                                class="star"
                                ng-class="isArticledStarred(currentArticle)"
                                ng-click="toggleStar(currentArticle)"></span>
                    </a>

                </li>
            </ul>
        </div>

    </div>




</div>