<div class="articles-view">

    <header ng-show="selectedFeed != null">
        selected feed: {{selectedFeed.name}}
    </header>

    <div class="articles-list">
        <div ng-repeat="article in articles" class="article">
            <div class="header row" ng-class="getClassForArticle(article)">
                <div class="span3">
                    {{article.feed.name}}

                </div>
                <div class="span6">
                    {{article.title}}
                </div>
                <div class="span2">
                    <!--TODO: use 'xx ago' syntax for < 24 h -->
                    {{article.article_date | date:'short' }}
                </div>
            </div>

        </div>
    </div>
</div>