<div class="articles-view">
    <div class="btn-group" ng-show="selectedFeed != null">
        <a class="btn btn-small" href="" ng-click="markAllAsRead()">Mark all as read</a>
        <a class="btn btn-small" href="" ng-click="toggleUnread(true)" ng-show="unreadOnly == false">
            Show only unread
        </a>
        <a class="btn btn-small" href="" ng-click="toggleUnread(false)" ng-show="unreadOnly == true">
            Show all
        </a>
    </div>

    <header ng-show="selectedFeed != null">
        selected feed: {{selectedFeed.name}}
    </header>

    <div class="no-articles" ng-show="articles.length == 0">
        No articles found

    </div>

    <div class="articles-list" infinite-scroll-distance="3"
         infinite-scroll-immediate-check="false"
         infinite-scroll="getNextPage()">
        <div ng-repeat="article in articles" class="article" autoscroll="article.id">
            <div class="header row" ng-class="getClassForArticleHeader(article)"
                 ng-click="selectArticle(article)">
                <div class="span3">
                    {{article.feed.name}}
                </div>
                <div class="span6">
                    {{article.title | titleFilter}}
                </div>
                <div class="span2">
                    {{article | ago:'article_date' }}
                </div>
            </div>
            <detailbox detailbox-show="currentArticle == article"
                       detailbox-content="detail-box"
                        class="content row">
            </detailbox>

        </div>

        <div id="detail-box">
            <h3><a target="_blank" href="{{currentArticle.url}}">{{currentArticle.title}}</a></h3>
            <span>
                {{currentArticle.article_date | date:'medium' }}
            </span>

            <span ng-bind-html="currentArticle.content | fixLinks"></span>
        </div>
    </div>
</div>