<div ng-controller="FeedsCtrl">
<form class="form-search feed-search-form">
    <input type="text" ng-model="filterText" class="search-query" placeholder="filter"/>
    <a href="" ng-click="showAddFeed()">+ add</a>
</form>
<ul class="feed-list">
    <li class="feed-group-sep"></li>
    <li class="main-item" ng-class="getRowClassForFeed('home')">
        <a href="#/" >
            <i class="icon icon-home"></i>
            Home
        </a>
    </li>
    <li class="all-feeds main-item" ng-class="getRowClassForFeed('all')">
       <a href="#/all" title="all articles" ng-class="getClassForAllArticles()">
           <i class="icon icon-list"></i>
          All articles
           <span ng-show="totalUnseen > 0">({{totalUnseen}})</span>
       </a>
    </li>
    <li class="all-feeds main-item" ng-class="getRowClassForFeed('starred')">
        <a href="#/starred" title="All starred articles" >
            <i class="icon icon-star"></i>
            Starred articles
        </a>
    </li>
    <li class="feed-group-sep"></li>
    <li ng-repeat="feed in feedData.feeds | filter:filterText" ng-class="getRowClassForFeed(feed)">
        <a href="#/{{feed.id}}" title="{{feed.description}}" ng-click="selectFeed(feed)"
                ng-class="getClassForFeed(feed)">
            <img ng-src="{{ feed | iconLink }}" height="16" class="icon"/>
            {{feed.name}}
            <span ng-show="feed.nb_unseen > 0">({{feed.nb_unseen}})</span>
        </a>
    </li>


</ul>
</div>