<div class="home">
    <h1>Welcome to IZMET feed reader</h1>
    <hr/>
        <ul class="main-links">
            <li>
                <a href="#/">
                    <i class="icon icon-home"></i>
                    Home
                </a>
            </li>
            <li>
                <a href="" ng-click="showAddFeed()">
                    <i class="icon icon-plus-sign"></i>
                    Add feed
                </a>
            </li>
            <li>
                <a href="#/stats">
                    <i class="icon icon-signal"></i>
                    Stats
                </a>

            </li>
            <li ng-show="notifEnablable">
                <a href="" ng-click="enableNotifications()">
                    <i class="icon icon-bookmark"></i>
                    Notifications
                </a>
            </li>
            <li>
                <a href="tablet.html">
                    <i class="icon icon-resize-full">
                    </i>
                    Tablet version

                </a>


            </li>

        </ul>

    <div class="row" ng-repeat="r in favorites">
        <div class="span6" ng-repeat="feed in r">
            <h3>
                <img ng-src="{{ feed | iconLink }}" class="icon"/>
                <a href="#/{{feed.id}}/">{{feed.name}}</a> ({{feed.nb_unseen}})
            </h3>
            <ul>
                <li ng-repeat="a in feed.articles">
                    <a href="#/{{feed.id}}/{{a.id}}">{{a.title}}</a>
                    <p>
                        <span ng-bind="a.content | ellipsis:100"></span>
                    </p>
                </li>
            </ul>
        </div>
    </div>
</div>