@import "compass_twitter_bootstrap";


.article .unread {
  font-weight: bold;
}
.article .read {
  background-color: #f0f0f0;
}

.article .header {
  cursor: 'hand';
}
.article {
  border-bottom: 1px solid #ddd;
}

.feed-list .icon {
  height: 16px;
}
.feed-list .unread {
  font-weight: bold;
}