@import "compass_twitter_bootstrap";

.cb {
  clear:both;
}

$sepGrisFonce: #ddd;
$sepGrisClair: #c0c0c0;

.article {
  border-bottom: 1px solid $sepGrisFonce;

  .article-header {
    cursor: hand;
  }

  .unread {
    font-weight: bold;
  }

  .read {
    background-color: #f0f0f0;
  }
}

.feed-search-form {
  margin-left: 5px;
}
.feed-list {
  ul {
    list-style-type: none;
    margin-left: 5px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  .icon {
    height: 16px;
  }
  .unread {
    font-weight: bold;
  }
}

.app-title {
  padding-left: 25px;
}
.app-title h1 {
  font-weight: bold;
  font-size: 1.5em;
}
#ajax-loader {
  display: none;
  position: fixed;
  top: 5px;
  right:5px
}
#detail-box {
  display: none;
}

.feed-group-sep {
  border-bottom: 1px solid $sepGrisClair;
  margin-bottom: 5px;
  height: 8px
}

.articles-view {

  header {
    font-weight: bold;
    font-size: 1.2em;
    margin: 5px 0;
    border-top: 1px solid $sepGrisClair;
    border-bottom: 1px solid $sepGrisClair;
    padding-bottom: 5px;
    padding-top: 5px;
    color: #454747;
  }

  .feed-toolbar {
    margin-top: 10px;
  }
}